// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#league_start_date_1i, #league_end_date_1i {
  width: 22%
}

#league_start_date_2i, #league_end_date_2i {
  width: 33%
}

#league_start_date_3i, #league_end_date_3i {
  width: 15%
}
